{% extends 'main.html' %} {% block content %}
<a class="btn btn-outline-dark" href="{% url 'home' %}"
      >&#x2190; Go Shopping</a
    >
<hr />
{% if order_exists %}
  <div class="col-lg-6">
    <div class="box-element order-box">
      
      {% for order in orders %}
        <h3>Order Id: {{order.id}}</h3>
        <h5 style="color: rgb(0, 250, 0);">
          {% if not order.completed %}
            Order not yet Delivered
          {% else %}
            Delivered
          {% endif %}
        </h5>
        <hr />
        <h4>Items: {{order.order_total_items}}</h4>
        <h4>Total: ${{order.order_price}}</h4>
        <h5>Completed Date: {{order.date}}</h5>
      {% endfor %} 
{% else %}
      <p>No Order</p>
    </div>
  </div>
{% endif %} 
{% endblock content %}
